@use 'variables';

$gutter: 3rem;
$gap: 4vw;
$black: black; 

.red { @extend %red !optional;}
.redlight { @extend %redlight !optional;}
.parts {
  display: block;
  @media screen and (min-width: 1600px) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  p { font-size: 1.25rem; margin-bottom: 1em; }
  h2 { 
    column-span: all;
    font-size: 1.375rem;
    font-style: italic;
    margin-bottom: 1rem;
    text-align: left;
    text-transform: uppercase;
  }
  em { color: #db5439 }

  .copy {
    column-count: 1;
    column-gap: $gutter;
    margin-bottom: 3rem;
    @media screen and (min-width: 600px) {
      column-count: 2;
    }
  }
    
  .unit {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: $gap $gap 0;
    border-bottom: $gap solid $black;
  }
}