$gutter: 3rem;
$gap: 4vw;

.steps {
  font-style: italic;
  text-align: left;
  padding-right: 2em;

  p { display: flex; padding: 1rem; }
  li {
    @media screen and (min-width: 600px) { width: 50%; }
    @media screen and (min-width: 900px) { width: 25%; }
  }
  ol {
    display: block;
    @media screen and (min-width: 600px) {
      flex-wrap: wrap;
      display: flex;
      margin-left: -2em;
    }
  }

  .copy { margin-left: 1rem; font-size: 1rem }
  .num {
    font-size: 8rem;
    font-style: normal;
    line-height: 0.8;
    @media screen and (min-width: 900px) {
      font-size: 4rem; 
    }
  }
}