@use '../variables' as v;

%font {
  @extend %fonts !optional;
}

.booklet {
  --peach: #fff8ee;
  --red: #{v.$cafered};
  --yellow: #eebe6d;
  --light: #{v.$yellow};
  --blue: #{v.$cafeblue};
  --parchment: #{v.$parchment};
  --buda: #{v.$GrandBudapest1q7};
}

%blue {
  // @extend %brightpink !optional;
  // @extend %gb7 !optional;

  @extend %cafeblue !optional;
}

%green {
  // @extend %brightorange !optional;
  // @extend %gb1 !optional;
  @extend %cafered !optional;
}

%parchment {
  @extend %parchment !optional;
  color: v.$GrandBudapest1q7;
  // color: v.$FantasticFox1q2;
}

%font {
  @extend %fonts !optional;
}