@use 'variables';

footer {
  @extend %left !optional;
  text-align: center;
  letter-spacing: 0.09em;

  h4 { font-size: 0.9rem; margin: revert}
  p { font-size: 1.5rem; }

  .content { width: 100%;}
}