nav {
  display: none;
  @media screen and (min-width: 800px) { display: inline;}
  @media screen and (min-width: 1000px) { display: inline-flex;}

  flex-wrap: wrap;
  top: 60px;
  position: fixed;
  z-index: 10;

  a { padding-left: 3vw; }
  
  div:not(:last-child) {
    margin-right: 3vw;
  }
}