.section-left, .section-right {
  display: flex;
  position: relative;
  width: 100%;
  align-items: center;
  @media screen and (min-width: 800px) {
    width: 50%;
  }
  .wrapper {
    position: relative;
    padding-right: 3vw;
    padding-left: 3vw;
    margin: 0 auto;
  
    p, h2, h3 {
      margin: revert;
      padding: revert;
    }
  }
}
.section-left {
  min-height: 100vh;
  @media screen and (min-width: 800px) {
    position: fixed;
  }
}

.section-right {
  @media screen and (min-width: 800px) {
    margin-left: 50vw;
  }
}

.page-section {
  position: relative;
  display: flex;
}