$blue:#7fafc5;
$dark:#303540;
$green: #516548;
$parchment: #f3f7e9;
$tan: #f8f5ef;
$brightpink: #fc83eb;
$brightorange: #ff7b4d;
$peach:#fff8ee;
$red:#db5439;
$yellow: #eebe6d;
$paper: #f5f3e8;
$redlight:rgba(220, 84, 57, 0.5);
$raleway: 'Raleway';
$opensans: 'Open Sans';
$roboto: 'roboto';
$vollkorn:'vollkorn';
$gentium: 'gentium book basic';
$lato: 'Lato';
$cormorant: 'Cormorant Garamond';
$century: 'Century Schoolbook L';
$mulish: 'Mulish';
$primary: $vollkorn;
$econdary: $cormorant; 

$leftpage: 50%;
$rightpage: 50%;

@font-face {
  font-family: 'Century Schoolbook L';
  src: url('CenturySchL-Roma.woff2') format('woff2'),
       url('CenturySchL-Roma.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

%yellow {
  background: $yellow;
}

%redlight {
  background: $redlight;
}

%red {
  background: $red;
}

%blue {
  background: $blue;
  color: $dark;
}

%parchment {
  background: $parchment;
  color: $green
}

%paper {
  background: $paper;
}

%green {
  background: $green;
  color: $parchment
}

%slate {
  color: #f3f7e9;
  background: #3b3b3b;
}

%brightpink {
  background: $brightpink;
  color: $peach;
}

%brightorange {
  background: $brightorange;
  color: $peach;
}

%peach {
  background: $peach;
  color: $brightorange;
}

%fonts {
  font-family: $raleway;
  font-family: $century;
  font-family: $opensans;
  font-family: $roboto;
  font-family: $vollkorn;
  font-family: $gentium;
  font-family: $lato;
  font-family: $cormorant;
  font-family: $mulish;
}