@use 'variables' as var;

.front {
  background: var.$yes;
  color: var.$no;
  a { padding: 8px}
}

.linx {
  align-items: center;
  font-family: 'Open Sans';
  display: flex;
  justify-content: center;
  height: 100vh;
}
