@use 'variables' as var;

.front {
  background: var.$blue;
  color: var.$tan;
  a { padding: 8px}
}

.linx {
  align-items: center;
  font-family: var.$primary;
  display: flex;
  font-size: 32px;
  font-size: 2rem;
  font-size: 2em;
  justify-content: center;
  height: 100vh;
}
