@use 'variables' as var;

body  {
  margin: 0;
}

.front {
  background: var.$yes;
  color: var.$no;
}

a { text-decoration: none; color: currentColor; padding: 8px}

.linx {
  align-items: center;
  font-family: 'Open Sans';
  display: flex;
  justify-content: center;
  height: 100vh;
}
